/*git test*/

*{
	font-family: 'Roboto', sans-serif; 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%
}

a {
	margin: 0;
	padding: 0;
}

/* ==========  1 block  ==========*/

.main-header  {
	padding: 0;
	margin: 0 auto;
	background-color:  #eeeeee;
}

figure img	{
	width: 100%;
	height: auto;
}

.main-navigation	{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 1440px;
	margin: 0 auto;
}

.main-navigation-wrapper  {
	width: 1440px;
	background-color:  #eeeeee;
	min-height: 114px;
	padding-bottom: 75px;
}

.container  {
	margin: 0 auto;
	margin-top: 49px;
	margin-left: 140px;
	margin-right: 140px;
}

.main-navigation-wrapper .container  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-header-logo  {
	width: 160px;
	min-height: 65px;
	display: block;
	background-image: url(../img/nerds-logo1.png);
	background-repeat: no-repeat;
}

.site-navigation  {
	position: relative;
	margin: 0;
	margin-left: -75px;
	margin-top: 15px;
	padding: 0;
	list-style: none;
	width: 440px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;	
}

.site-navigation a:hover  {
	color: #01ca74;
	
}

.site-navigation li  {
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	align-content: center;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation .site-navigation-current a:before {
	content: "";
	width: 0px;
	height: 5px;
	background: #00bcd4;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transition: .5s;
	transition: .5s;
}

.site-navigation .site-navigation-current:hover a:before {
	width: 50%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.site-navigation-current a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	align-content: center;
	color: #000000;
	text-transform: uppercase;
	position: relative;
}

.user-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 80px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	list-style: none;
	-ms-flex-line-pack: center;
	align-content: center;
}

.user-navigation .login-link  {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	margin-left: 6px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 4px;
    left: -41px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before  {
	opacity: 1;
}

.user-navigation a:hover  {
	color: #fff;
	background-color: #fb565a;
}

/* long long long long long long long long long long long long  */

.long  {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color:  #eeeeee;

}

.long .left-long  {
	display: inline-block;
	margin-left: 140px;
}

.left-long h1  {
	margin: 0;
	padding: 0;
	line-height: 55px;
	font-size: 55px;
	font-family: 'Roboto', sans-serif;
	align-content: center;
	color: #000000;
	width: 400px;
	margin-bottom: 29px;

}

.left-long p  {
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Roboto Regular', sans-serif;
	letter-spacing: -0.2px;
	-ms-flex-line-pack: center;
	align-content: center;
	color: #283136;
	width: 400px;
	margin-bottom: 38px;
}

.button-main  {
	width: 240px;
	height: 52px;
	background-color: #fb565a;
	text-transform: uppercase;
}

.left-long .button-main:hover  {
	background-color: #006fb4;
	color: #fb565a;
}



.left-long .button-main  {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;

}

.long .right-long  {
	margin-right: 205px;
}

.long .slider  {
	width: 698px;
	margin-bottom: -3px;
}

.long img  {
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	margin-top: -57px;
    margin-left: 31px;
}

/*==========  main  ==========*/

.main-container  {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	width: 1440px;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-container .one  {
	margin-top: 79px;
	margin-left: 140px;
}

.one .illustration  {
	margin-bottom: 21px;
}

.one h3  {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.one p  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 32px;
}

.one .button-order  {
	width: 161px;
	height: 52px;
	background-color: #fb565a;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
	margin-left: -1px;
	border-radius: 2px;
}

.main-container .two  {
	margin-top: 79px;
}

.two .illustration  {
	margin-bottom: 21px;
}

.two h3  {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.two p  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 32px;
}

.two .button-order  {
	width: 161px;
	height: 52px;
	background-color: #01ca74;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
	margin-left: -1px;
	border-radius: 2px;
}

.main-container .three  {
	margin-top: 79px;
	margin-right: 200px;
}

.three .illustration  {
	margin-bottom: 21px;
}

.three h3  {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.three p  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 32px;
}

.three .button-order  {
	width: 161px;
	height: 52px;
	background-color: #efc84a;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
	margin-left: -1px;
	border-radius: 2px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.illustration {
	width: 300px;
	height: 146px;
}

.hr {
	margin: 0 auto;
	width: 1160px;
	height: 2px;
	background-color: #eeeeee;
}
.hr-one  {
	margin-bottom: 40px;
}

/*==========  3 block  ==========*/

.second-container  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 1440px;
	margin: 0 auto;
	margin-bottom: 49px;
}

.second-left  {
	min-width: 660px;
	margin-left: 140px;
}

.second-left h2  {
	margin: 0;
	padding: 0;
	margin-top: 31px;
	margin-bottom: 34px;;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.second-left p  {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 39px;
}

.second-left b  {
	display: block;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
}

.second-left .offer-list  {
	margin-left: 36px;
}
.offer-list li  {
	position: relative;
	list-style: none;
	margin-bottom: 27px;
}

.offer-list li::before  {
	position: absolute;
	content: "";
	top: 11px;
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.second-right  {
	padding: 0;
	margin: 0;
	margin-right: 140px;
}

.second-right figure  {
	margin-bottom: 31px;
    margin-left: -17px;
}

.second-right b  {
	display: block;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 29px;
}

.small-wrapper  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.S146 span  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height:45px;
	font-weight: bold;
	margin-left: -16px;
	margin-bottom: 20px;

}

.S146 p  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 18px;
	margin-left: -16px;
	margin-bottom: 0px;
}

.S100 span  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height:45px;
	font-weight: bold;
	margin-left: 13px;
	margin-bottom: 20px;

}

.S100 p  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 18px;
	margin-left: 14px;
	margin-bottom: 0px;
}

.S50 span  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height:45px;
	font-weight: bold;
	margin-left: 13px;
	margin-bottom: 20px;

}

.S50 p  {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 18px;
	margin-left: 14px;
	margin-bottom: 0px;
}

/*==========  3 block  ==========*/

.third-container  {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.third-container__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 1440px;
	margin: 0 auto;

}

.third-container__margin {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	margin: 0 110px;
}

.third-cont__all {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	height: 180px;
}

.third-cont__all img {
	padding: 5px 5px;
}

.centerbg {
	width: 2px;
	height: 180px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.centerbg .bg {
	width: 2px;
	height: 52px;
	background-color: #eee;
	margin: auto 0px;
}

/*==========  third block end  ==========*/

.hr-three  {
	margin-bottom: 80px;
}

/*==========  2 block  ==========*/

.four-container  {
	margin: 0 auto;
	margin-bottom: 70px;
	max-width: 1440px;
	max-height: 415px;
}

/* footer */

.main-footer  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1440px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.social-buttons  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 260px;
	margin-left: 140px;
	-webkit-box-align: center;
	-ms-flex-align: center;
    -ms-grid-row-align: center;
   	-webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.social-btn-vk  {
	width: 50px;
	height: 50px;
	display: flex;
}

.social-buttons li  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	list-style: none;
	width: 80px;
	height: 80px;  
	border-radius: 50%;
	background-color: #eee;
}

.social-buttons a  {
	margin: 0 auto;
}

svg  {
	height: 50px;
	width: 50px;
}

.friends  {
	margin-left: 140px;	
	color: #4f4f4f;
}

.friends h2  {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	margin-top: 3px;
	margin-left: -2px;
	margin-bottom: 11px;
	color: #4f4f4f;
}
